@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    font-family: "Oxygen", sans-serif;
}

#userList{
    width: 300px;
}

.horizontalStack{
    display: flex;
    flex-direction: row;
    & > * {
        padding: 20px
    }
}

.verticalStack{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    & > * {
        padding: 20px
    }
}